doctype xml
package(xmlns="http://www.idpf.org/2007/opf", version="2.0", unique-identifier="uuid")
  metadata(xmlns:xsl="http://www.w3.org/2001/XMLSchema-instance",
           xmlns:opf="http://www.idpf.org/2007/opf",
           xmlns:dcterms="http://purl.org/dc/terms/",
           xmlns:dc="http://purl.org/dc/elements/1.1/")
    dc:description=brief
    dc:language zh-CN
    dc:title=title
    - if (cover)
      meta(name="cover",content="cover")
  manifest
    - if (cover)
      item(href="cover.jpg", media-type="image/jpeg", id="cover")
    item(href="titlepage.xhtml", media-type="application/xhtml+xml", id="titlepage")
    item(href="info.html", media-type="application/xhtml+xml", id="infopage")
    item(href="catalog.html", id="catalog", media-type="application/xhtml+xml")
    item(href="stylesheet.css", id="stylesheet", media-type="text/css")
    item(href="toc.ncx", media-type="application/x-dtbncx+xml", id="ncx")
    - for (var i = 0; i< sections; i++)
      item(href="OEBPS/section"+i+".html", id="section"+i, media-type="application/xhtml+xml")
    each i in contents
      item(href='OEBPS/'+i.maniname, id=i.id, media-type="application/xhtml+xml")
  spine(toc="ncx")
    itemref(idref="titlepage")
    itemref(idref="infopage")
    itemref(idref="catalog")
    each i in contents
      itemref(idref=i.id)
  guide
    reference(href="catalog.html", title="目录", type="toc")
