doctype xml
ncx(xmlns="http://www.daisy.org/z3986/2005/ncx/",
    version="2005-1" xml:lang="en")
  head
    meta(content=depth, name="dtb:depth")
    meta(content="0", name="dtb:totalPageCount")
    meta(content="0", name="dtb:maxPageNumber")
  docTitle
    text= title + '--' + author
  navMap
    navPoint(id="titlepage", playOrder="1")
      navLabel
        text 封面
      content(src="titlepage.xhtml")
    navPoint(id="infopage", playOrder="2")
      navLabel
        text 封面
      content(src="info.html")
    navPoint(id="catalog", playOrder="3")
      navLabel
        text 目录
      content(src="catalog.html")
    != toc
